@import url('https://fonts.googleapis.com/css?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

p{
  text-align: justify;
  font-size: 1.2em;
}

.font-personal{
  /*font-family: 'Bad Script', cursive;*/
  font-family: 'Courgette', cursive;
}

.center{
  justify-content: center;
}

.margin-x{
  padding-left: 4em;
  padding-right: 2em;
}

li:hover{
  background-color: #ad1457;
}
